# =========================================
# Exclusive E-commerce Backend Environment Variables
# =========================================
#
# This is an example environment configuration file.
# DO NOT store sensitive credentials in this file.
# Make a copy of this file as '.env' and fill in your actual values.
#
# Note: 
# - All values shown here are examples only
# - Never commit actual credentials to version control
# - Keep your .env file secure and excluded from git
# =========================================
NODE_ENV=development
PORT=3001

# Database
MONGODB_URI=database_url

# Email Configuration (you'll need to set these up with your email provider)
# Development Email (Mailtrap)
EMAIL_HOST=mailtrap-host
EMAIL_PORT=mailtrap-port
EMAIL_USERNAME=your-mailtrap-email-user
EMAIL_PASSWORD=your-mailtrap-email-pass

# Production Email (Brevo)
BREVO_API_KEY=BREVO_API_KEY
EMAIL_FROM=no-reply@your-authenticated-domain #something@yourbrand.work.gd can get one for free from freedomain.one
EMAIL_FROM_NAME=Admin

# JWT Authentication
JWT_SECRET=your--secret
JWT_EXPIRES_IN=7d #7 days
JWT_COOKIE_EXPIRES_IN=7 #7 days
# Security
PASSWORD_RESET_TOKEN_EXPIRES_IN=10 #10 minutes 

# Client
FRONTEND_URL=fron-end-url

# Google Client:
GOOGLE_CLIENT_ID=your-google-oauth-client-id